.texto-botones{
    display: inline-block;
    width: 70%;
    border-color: black;
}
.espacio-encriptador{
    display: inline-block;
}
.copia-mensaje-encriptado{
    display: block;
}








































footer{
    text-align: center;
        background-color: rgb(60, 60, 60);
        /*cambiar color después dependiendo de la paleta*/
    padding: 40px;
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}